# This rule to allow users (non-root) to have raw access to Logitech receiver

ACTION!="add", GOTO="end"
SUBSYSTEM!="hidraw", GOTO="end"

# USB-connected Logitech receivers and devices
ATTRS{idVendor}=="046d", GOTO="apply"

# Lenovo nano receiver
ATTRS{idVendor}=="17ef", ATTRS{idProduct}=="6042", GOTO="apply"

# Bluetooth-connected Logitech devices
KERNELS=="0005:046D:*", GOTO="apply"

GOTO="end"

LABEL="apply"
# Give ACLs to the active desktop session user
TAG+="uaccess"
# Optional: also allow plugdev group
#MODE="0660", GROUP="plugdev

LABEL="end"